name: Test
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]
jobs:
  standard-usage:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, macos-14, windows-2022]
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Build Sample Project
        uses: threeal/cmake-action@v2.1.0
        with:
          source-dir: sample
          generator: Ninja
          cxx-compiler: g++

      - name: Test Sample Project
        uses: threeal/ctest-action@v1.1.0
        with:
          test-dir: sample/build

      - name: Use this action
        uses: ./

  llvm-usage:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Install LLVM
        run: sudo apt-get install -y llvm

      - name: Build Sample Project
        uses: threeal/cmake-action@v2.1.0
        with:
          source-dir: sample
          generator: Ninja
          c-compiler: clang
          cxx-compiler: clang++

      - name: Test Sample Project
        uses: threeal/ctest-action@v1.1.0
        with:
          test-dir: sample/build

      - name: Use this action with llvm-cov as the gcov executable
        uses: ./
        with:
          gcov-executable: llvm-cov gcov

  exclusion-usage:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Build Sample Project
        uses: threeal/cmake-action@v2.1.0
        with:
          source-dir: sample
          generator: Ninja
          cxx-compiler: g++
          options: |
            TEST_EVEN=OFF
            TEST_ODD=OFF

      - name: Test Sample Project
        uses: threeal/ctest-action@v1.1.0
        with:
          test-dir: sample/build

      - name: Use this action without an exclusion
        id: failed_step
        continue-on-error: true
        uses: ./
        with:
          root: sample
          fail-under-line: 100

      - name: Check if the previous step did fail
        run: ${{ steps.failed_step.outcome == 'failure' && true || false }}

      - name: Use this action without an exclusion but with a lower fail threshold
        uses: ./
        with:
          root: sample
          fail-under-line: 20

      - name: Use this action with an exclusion
        uses: ./
        with:
          root: sample
          excludes: sample/include/*
          fail-under-line: 100

      - name: Use this action with multiple exclusions
        uses: ./
        with:
          root: sample
          excludes: |
            sample/include/is_even.hpp
            sample/include/is_odd.hpp
          fail-under-line: 100

  branch-and-function-usage:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Build Sample Project
        uses: threeal/cmake-action@v2.1.0
        with:
          source-dir: sample
          generator: Ninja
          cxx-compiler: g++
          options: |
            TEST_EVEN=OFF

      - name: Test Sample Project
        uses: threeal/ctest-action@v1.1.0
        with:
          test-dir: sample/build

      - name: Test branch coverage above threshold
        id: failed_branch_step
        continue-on-error: true
        uses: ./
        with:
          root: sample
          fail-under-branch: 100

      - name: Check if the previous step did fail
        run: ${{ steps.failed_branch_step.outcome == 'failure' && true || false }}

      - name: Test branch coverage below threshold
        uses: ./
        with:
          root: sample
          fail-under-branch: 25

      - name: Test function coverage above threshold
        id: failed_function_step
        continue-on-error: true
        uses: ./
        with:
          root: sample
          fail-under-function: 100

      - name: Check if the previous step did fail
        run: ${{ steps.failed_function_step.outcome == 'failure' && true || false }}

      - name: Test branch coverage below threshold
        uses: ./
        with:
          root: sample
          fail-under-function: 50

  working-directory-usage:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Build Sample Project
        uses: threeal/cmake-action@v2.1.0
        with:
          source-dir: sample
          generator: Ninja
          cxx-compiler: g++

      - name: Test Sample Project
        uses: threeal/ctest-action@v1.1.0
        with:
          test-dir: sample/build

      - name: Use this action with a different working directory
        uses: ./
        with:
          working-directory: sample/build
          root: ../

  html-out-usage:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Build Sample Project
        uses: threeal/cmake-action@v2.1.0
        with:
          source-dir: sample

      - name: Test Sample Project
        uses: threeal/ctest-action@v1.1.0
        with:
          test-dir: sample/build

      - name: Use this action to generate an HTML report
        uses: ./
        with:
          html-out: coverage.html

      - name: Check if that HTML report does exist
        run: cat coverage.html

  html-theme-usage:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Build Sample Project
        uses: threeal/cmake-action@v2.1.0
        with:
          source-dir: sample

      - name: Test Sample Project
        uses: threeal/ctest-action@v1.1.0
        with:
          test-dir: sample/build

      - name: Use this action to generate an HTML report
        uses: ./
        with:
          html-out: coverage.html
          html-theme: github.dark-blue

      - name: Check if that HTML report does exist
        run: cat coverage.html

  html-details-usage:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Build Sample Project
        uses: threeal/cmake-action@v2.1.0
        with:
          source-dir: sample

      - name: Test Sample Project
        uses: threeal/ctest-action@v1.1.0
        with:
          test-dir: sample/build

      - name: Use this action to generate an HTML report
        uses: ./
        with:
          html-out: coverage.html
          html-details: true

      - name: Check if that HTML report does exist
        run: cat coverage.html

  html-title-usage:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Build Sample Project
        uses: threeal/cmake-action@v2.1.0
        with:
          source-dir: sample

      - name: Test Sample Project
        uses: threeal/ctest-action@v1.1.0
        with:
          test-dir: sample/build

      - name: Use this action to generate an HTML report
        uses: ./
        with:
          html-out: coverage.html
          html-title: My Project Code Coverage Report

      - name: Check if that HTML report does exist
        run: cat coverage.html

  xml-out-usage:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Build Sample Project
        uses: threeal/cmake-action@v2.1.0
        with:
          source-dir: sample

      - name: Test Sample Project
        uses: threeal/ctest-action@v1.1.0
        with:
          test-dir: sample/build

      - name: Use this action to generate an XML report
        uses: ./
        with:
          xml-out: coverage.xml

      - name: Check if that XML report does exist
        run: cat coverage.xml

  coveralls-usage:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Build Sample Project
        uses: threeal/cmake-action@v2.1.0
        with:
          source-dir: sample

      - name: Test Sample Project
        uses: threeal/ctest-action@v1.1.0
        with:
          test-dir: sample/build

      - name: Use this action to generate a Coveralls report
        uses: ./
        with:
          coveralls-out: coveralls.json

      - name: Check if that Coveralls report does exist
        run: cat coveralls.json

      - name: Use this action to generate and send another Coveralls report
        uses: ./
        with:
          coveralls-send: true
